<!--Portfolio section to be updated each time a project is completed or there's something I can properly show-->
<!--BE SURE TO ADD PROPER TAG BETWEEN -> filter-completed filter-wip filter-demo (last in case there's a webapp version usable online)-->
<!--Ps.: you can add more than one filter, no prob-->
  <!-- ============================== CODE MORSE CONVERTER ============================== -->
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/morse_code_app.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Morse Code Converter</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/morse_code_app.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-01-MorseCodeConverter" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================== TIC TAC TOE ============================== -->
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/tic_tac_toe.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Tic Tac Toe</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/tic_tac_toe.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-03-TicTacToe" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================== IMAGE WATERMARKER ============================== -->
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/watermarker.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Image Watermarker</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/watermarker.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-04-ImageWatermaker" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================== TYPING SPEEDOMETER ============================== -->
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/typing_speedometer.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Typing Speedometer</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/typing_speedometer.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-05-TypingSpeedometer" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================== BREAK OUT ============================== -->
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/break_out.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Break Out</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/break_out.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-06-BreakOutGame" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================== CAFE & WIFI ============================== -->
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/cafe_wifi_preview.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Cafe & Wifi</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/cafe_wifi_preview.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-07-Cafe-Wifi" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================== TO-DO NOTEPAD ============================== -->
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed filter-demo">
    <div class="portfolio-wrap">
      <img src="static\assets\img\portfolio\todo_notepad.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>To-do Notepad</h4>
        <p>Completed / Demo</p>
        <div class="portfolio-links">
          <a href="{{ url_for('todo_notepad_demo') }}"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-08-ToDoWebNotepad" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <!-- ============================== TYPE BEFORE ITS GONE ============================== -->
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed filter-demo">
    <div class="portfolio-wrap">
      <img src="static\assets\img\portfolio\type_before_its_gone.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Type Before It's Gone</h4>
        <p>Completed / Demo</p>
        <div class="portfolio-links">
          <a href="{{ url_for('type_before_its_gone_demo') }}"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-09-TypeBeforeItsGone" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  
