<!--Portfolio section to be updated each time a project is completed or there's something I can properly show-->
<!--BE SURE TO ADD PROPER TAG BETWEEN -> filter-completed filter-wip filter-demo (last in case there's a webapp version usable online)-->
<!--Ps.: you can add more than one filter, no prob-->
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/morse_code_app.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Morse Code Converter</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/morse_code_app.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-01-MorseCodeConverter" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/tic_tac_toe.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Tic Tac Toe</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/tic_tac_toe.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-03-TicTacToe" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/watermarker.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Image Watermarker</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/watermarker.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-04-ImageWatermaker" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 portfolio-item filter-completed">
    <div class="portfolio-wrap">
      <img src="static/assets/img/portfolio/typing_speedometer.png" class="img-fluid" alt="">
      <div class="portfolio-info">
        <h4>Typing Speedometer</h4>
        <p>Completed</p>
        <div class="portfolio-links">
          <a href="static/assets/img/portfolio/typing_speedometer.png" data-gallery="portfolioGallery" class="portfolio-lightbox"><i class="bx bx-plus"></i></a>
          <a href="https://github.com/Kurokatana94/PortfolioProject-05-TypingSpeedometer" title="GitHub page"><i class="bx bx-link"></i></a>
        </div>
      </div>
    </div>
  </div>
