<div class="conatiner">
    <!--NEW ROW-->
    <div class="row">
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/python-logo-only.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">Python</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/html-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">HTML</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/css-3-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">CSS</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/cs-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">C#</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/sqlite-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">SQL</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------ -->
    <!-- ---------------------- NEW ROW ----------------------------- -->
    <!-- ------------------------------------------------------------ -->
    <div class="row">
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/flask-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">Flask</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/git-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">Git</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/github-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">GitHub</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/unity-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">Unity</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/godot-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">Godot</p>
          </div>
        </div>
      </div>
    </div>
    <!--NEW ROW-->
    <div class="row">
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/visual-studio-code-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">VS Code</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/pycharm-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">PyCharm</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/numpy-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">NumPy</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/pandas-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">Pandas</p>
          </div>
        </div>
      </div>
        <!--TOOL NAME-->
      <div class="col">
        <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
          <div class="card-body text-center">
            <img src="static/assets/img/tools_logos/selenium-logo.svg" class="img-responsive" style="height: 4.5rem;">
            <p style="padding-top: 6px;">Selenium</p>
          </div>
        </div>
      </div>
  </div>
    <!--NEW ROW-->
  <div class="row">
      <!--TOOL NAME-->
    <div class="col">
      <div class="card bg-light mb-3 mx-auto" style="width: 8rem; height: 8.5rem;">
        <div class="card-body text-center">
          <img src="static/assets/img/tools_logos/stackoverflow-logo.svg" class="img-responsive" style="height: 4.5rem;">
          <p style="padding-top: 6px; font-size: 14px;">Stack Overflow</p>
        </div>
      </div>
    </div>
  </div>
</div>