{% extends "base.html" %}

{% block extra_css %}
  <link href="static/assets/css/type-before-gone-style.css" rel="stylesheet">
{% endblock %}

{% block body %}
<main id="main">
  <div class="container mt-5">
    <div class="row justify-content-end">
      <div class="col-md-6 mx-3">
        <div class="text-center mb-4">
          <h1>Type Before It's Gone</h1>
          <p class="lead">Stop typing and all will be erased. Can you keep it up for 5 minutes?</p>
        </div>
      </div>
      <!-- ================== DARK/LIGHT MODE ================== -->
      <div class="col-md-3">
        <div class="col-md-1 offset-md-11">
          <a type="button" id="theme-toggle" style="font-size: 1.5rem;">🌗</a>
        </div>
      </div>
    </div>
    <!-- ================== INSPIRATIONAL SENTECE ================== -->
    <div class="row justify-content-center my-2">
      <div class="col-md-6 mx-3 offset-md-3 text-center">
        <button type="button" class="btn btn-primary mb-3" id="get-sentence">Inspire Me!</button>
        <p id="inspirational-sentence" style="font-size: 24px;"></p>
        <p id="author" style="font-size: 18px; font-style: italic;"></p>
      </div>
    </div>
    <!-- ================== TEXT AREA ================== -->
    <div class="row justify-content-center">
      <div class="col-md-6 mx-3 offset-md-3">
        <textarea class="form-control input-field" id="user-text" placeholder="Type here..." rows="20" style="height: 55vh;"></textarea>
      </div>
    </div>
  </div>
</main>
{% endblock %}

{% block extra_js %}
  <!-- Type Before It's Gone JS File -->
  <script src="static/assets/js/type-before-gone-script.js"></script>
{% endblock %}

{% block footer %}
  <!-- ======= Footer ======= -->
  <footer id="footer" style="background: none !important;">

    <div class="footer-top">

      <div class="container">

        <div class="social-links">
          <a href="https://x.com/Kurokatana94" class="twitter"><i class="bx bxl-twitter"></i></a>
<!--          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a> meh instagram bad -->
          <a href="https://github.com/Kurokatana94" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.linkedin.com/in/timoty-ravoni-b91ba21b5/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright {{year}} <strong><span>Timoty Ravoni</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        Based on design by <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
      </div>
    </div>
  </footer><!-- End Footer -->
{% endblock %}